<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template • TodoMVC</title>
	<link rel="stylesheet" href="/node_modules/todomvc-common/base.css">
	<link rel="stylesheet" href="/node_modules/todomvc-app-css/index.css">
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	<div id="app">
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<!-- 表单中只有一个 input[type='text']默认按下回车会进行提交 就会触发提交事件 -->
				<form action="" @submit.prevent='addSubmit'>
					<input class="new-todo" placeholder="What needs to be done?" autofocus v-model:value="newText">
				</form>
			</header>
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox" v-model='toggleAll'>
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<li v-for='(value,index) in all' :class="[{completed:value.isCompleted},{editing:newEidt===index}]" v-show='isShow(value)'>
						<div class="view">
							<!-- v-model='value.isCompleted'  -->
							<input class="toggle" type="checkbox" v-model='value.isCompleted'>
							<!-- dblclick 双击 -->
							<label @dblclick='newEidt=index'>{{value.task}}</label>
							<button class="destroy" @click='all.splice(index,1)'></button>
						</div>
						<input class="edit" v-model:value="value.task" ref="onFocus" @blur='newEidt=""' @keyup.13='newEidt=""'>
						<!-- {{value.isEditing}} -->
					</li>
				</ul>
			</section>
			<footer class="footer">
				<span class="todo-count"><strong>{{all.filter(v=>{return !v.isCompleted}).length}}</strong> item left</span>
				<ul class="filters">
					<li>
						<!-- 全部 -->
						<a :class="{selected:toggleList==='all'}" href="#/" @click='toggleList="all"'>All</a>
					</li>
					<li>
						<!-- 未完成的 -->
						<a href="#/active" :class="{selected:toggleList==='active'}" @click='toggleList="active"'>Active</a>
					</li>
					<li>
						<!-- 完成 -->
						<a href="#/completed" :class="{selected:toggleList==='completed'}" @click='toggleList="completed"'>Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<!-- 清除已完成的 -->
				<button class="clear-completed" @click='clearCompleted'>Clear completed</button>
			</footer>
		</section>
		<!-- Scripts here. Don't remove ↓ -->
	</div>

	<!-- <script src="node_modules/todomvc-common/base.js"></script> -->
	<script src="/js/vue2.js"></script>
	<script src="/js/app.js"></script>
</body>

</html>
